<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Unibratec</string>
		<key>url</key>
		<string>www.unibratec.edu.br</string>
		<key>radius</key>
		<string>50</string>
		<key>latitude</key>
		<real>-8.151551751235219</real>
		<key>longitude</key>
		<real>-34.91992324590683</real>
	</dict>
	<dict>
		<key>description</key>
		<string>Tempero da Galega</string>
		<key>url</key>
		<string>temperodagalegasel.wixsite.com</string>
		<key>latitude</key>
		<real>-8.15181327941246</real>
		<key>longitude</key>
		<real>-34.91933047771454</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Concessionária Chevrolet Autonunes</string>
		<key>url</key>
		<string>autonuneschevroletjaboatao.com.br</string>
		<key>latitude</key>
		<real>-8.152806288396125</real>
		<key>longitude</key>
		<real>-34.92024779319763</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
